.container {
  padding-left: 5%;
  padding-right: 5%;
}

.text-center {
  text-align: center;
}

.d-block {
  display: block;
}

.bg-transparent {
  background-color: transparent;
}

.border-0 {
  border: 0;
}
